# secrets
backend/.env
frontend/.env.local

# python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# node
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/

# installers/random
*.msix
*.exe

# misc
.DS_Store